WAP TO TAKE THE INPUT FROM THE USER REGARDING THE COURSE;

In [4]:
a=input("enter course:")
if a=="data science":
    b=input("what to learn first(python/sql/ml/stats/tableau):-")
    if b=="python":
        c=input("enter your level(basic/intermediate/advanced):-")
        if c=="basic":
            print("too early to apply")
        elif c=="intermediate":
            print("practice on hackearth")
        elif c=="advanced":
            print("apply jobs for python developer")
    elif b=="tableau":
        print("go for business intelligence roles")
    elif b=="ml":
        print("apply for ml engineer")

enter course:data science
what to learn first(python/sql/ml/stats/tableau):-ml
apply for ml engineer

LOOPS:
for and while

In [5]:
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

In [ ]:
range(start,stop,step)

In [1]:
list(range(1,6,2))

[1, 3, 5]

In [7]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [11]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [14]:
for i in range(5,55,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [21]:
a=int(input("enter the number"))
for i in range(10,0,-1):
    print(i*a)

enter the number3
30
27
24
21
18
15
12
9
6
3

In [1]:
a=int(input("enter any number whose table is needed"))
for a in range(a,a*11,a):
    print(a)

enter any number whose table is needed9
9
18
27
36
45
54
63
72
81
90

In [25]:
for i in range(1,21):
    if i%2==0:
        print(i,"even")
    else:
        print(i,"odd")

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even

In [2]:
a=int(input("enter the number"))
for i in range(1,10):
    if a%i==0:
        print(i)

enter the number56
1
2
4
7
8

w3resources questions site-

In [28]:
a=int(input("enter the number -"))
count=0
for i in range(1,a+1):
    if a%i==0:
        print(i)
        count=count+1
print(count)

enter the number -33
1
3
11
33
4

we have to find the factorial of a number

In [3]:
a=int(input("enter the number"))
f=1
for i in range(a,1,-1):
    f=f*i
print(f)

enter the number5
120

In [23]:
for i in range(1,51):
    if i%3==0 and i%5==0:
        print("fizzbuzz",i)
    elif i%3==0:
        print("fizz",i)
    elif i%5==0:
        print("buzz",i)

fizz 3
buzz 5
fizz 6
fizz 9
buzz 10
fizz 12
fizzbuzz 15
fizz 18
buzz 20
fizz 21
fizz 24
buzz 25
fizz 27
fizzbuzz 30
fizz 33
buzz 35
fizz 36
fizz 39
buzz 40
fizz 42
fizzbuzz 45
fizz 48
buzz 50

In [28]:
l=(1,2,3,4,5,6)
for i in l:
    print(i)

1
2
3
4
5
6

In [36]:
l=[12,13,34,23,23,45,67,21,45,89]
count=0
s=0
for i in l:
    count=count+1
    s=s+i
print(count)
print(s)

10
372

count no. of vowels

3
7

In [26]:
s="helloworld"
c=0
d=0
for i in s:
    if i=="a" or i=="e" or i=="i" or i=="o" or i=="u":
        c=c+1
    else:
        d=d+1
print(d,"consonents")
print(c,"vowles")

7 consonents
3 vowles

In [32]:
for i in range(1500,2700):
    if i%7==0 and i%5==0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [5]:
for i in range(1,11):
    print

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [2]:
a=6
for i in range(1,11):
    print(a,"x",i,"=",a*i)

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [13]:
for i in range (1,21):
    if i%2==0:
        print(i,"even")
    elif i%2!=0:
        print(i,"odd")

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even

In [28]:
count=0
for i in range (1,21):
    if 20%i==0:
        count=count+1
        print(i)
print("there are",count,"factors of 20")

1
2
4
5
10
20
there are 6 factors of 20

enter the number5
1
2
6
24
120

In [44]:
s=1
for i in range(1,6):
    s=s*i
print(s)

120

In [ ]:
for i in range(1,21):